.sidebarContainer {
	position: absolute;
	width: 16%;
	height: 100%;
	left: 0;
	position: relative;
	background: rgb(217, 217, 217);
	overflow: hidden;
}


/********************************  dropdown menu part **************************************************/

.filterLabel {
	font-family: sans-serif;
	font-size: 1.2em;
}
.filters{
	padding-top: 10em;
	flex-direction: column;
	display: flex;
	justify-content: center;
}
.filter{
	margin: 0 auto;
	width: 80%;
}
.dropdown {
	width: 100%;
	position: relative;
	/transform: translateY(-50%);
}

.dropdown a {
	color: #fff;
}

.dropdown dd,
.dropdown dt {
	margin: 0px;
	padding: 0px;
}

.dropdown ul {
	width: 100%;
	margin: -1px 0 0 0;
}

.dropdown dd {
	position: relative;
}

.dropdown a,
.dropdown a:visited {
	color: #fff;
	text-decoration: none;
	outline: none;
	font-size: 1em;
}

.dropdown dt a {
	background: rgba(0,0,0,.4);
	/background-color: #4F6877;
	display: block;
	padding-top: 1em;
	padding-left: 1em;
	padding-bottom: .7em;
	min-height: 25px;
	/line-height: 24px;
	overflow: hidden;
	border: 0;
	/width: 100%;
}
.multiSel{
	margin: 0;
}
.multiSel span {
	font-family: sans-serif;
	font-weight: 200;
	color: white;
	border-radius: .2em;
	margin-left: .1em;
	border: 1px solid black;
	cursor: pointer;
	display: inline-block;
	padding: .3em;
}

.dropdown dd ul {
	z-index: 1;
	background: rgba(50,50,50,1);
	/background-color: #4F6877;
	border: 0;
	color: #fff;
	display: none;
	left: 0px;
	padding: 2px 15px 2px 5px;
	position: absolute;
	top: 2px;
	width: 92%;
	list-style: none;
	height: 11em;
	overflow: auto;
}

.dropdown dd ul li {
	padding: .4em;
	font-family: monospace;
}

.dropdown span.value {
	display: none;
}

.dropdown dd ul li a {
	padding: 5px;
	display: block;
}

.dropdown dd ul li a:hover {
	background-color: #fff;
}
.filterButton{
	border: 1px solid rgba(0,0,0,.3);
	background: rgba(0,0,0,.1);
	border-radius: .3em;
	margin: 1em;
	padding: .5em 0em;
	align-self: center;
	width: 10em;
	cursor: pointer;
	transition: .2s;
}
.filterButton:hover{
	background: rgba(0,0,0,.3);
}


/********************  dropdown part ************************/
